body{
    background-image: url('../images/bg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.row1{
    margin-top:17%;
}
.divh{
    width: 30%;
    color: white;
    text-align: center;
    margin-top: 45px;
}
p{
    color: white;
}
.note{
    width: 80%;
    max-height: 300px;
    margin-left:30%;
    color: black;
}
.result{
    width: 80%;
    max-height: 300px;
    color: black;
}
.buttn{
    margin-left: 45%;
    padding-top: 60%;
    padding-bottom: 60%;

   }
